<div id="point" fxLayout="column">

        <div id="point-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isRewardShow">
            <div id="logo-wrapper">
                <div class="logo">
                    <img src="assets/images/logos/csp.svg">
                </div>
            </div>

            <div id="point-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    
                
                <div class="title">REDEEM</div>
    
                <form name="pointForm" [formGroup]="pointForm" novalidate>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Mobile No.</mat-label>
                        <input matInput formControlName="phone">
                        <mat-icon matSuffix class="secondary-text">phone_iphone</mat-icon>
                        <mat-error>
                            Mobile No. is required
                        </mat-error>
                    </mat-form-field>
    
                    <button type="button" mat-raised-button color="accent" class="submit-button" aria-label="Redeem" 
                    [disabled]="pointForm.invalid"
                    (click)="point()">
                        REDEEM!
                    </button>
    
                </form>

            </div>
            
        </div>
        <div id="point-reward-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="isRewardShow">
            <div id="point-reward" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
                {{message}}
            </div>
            
        </div>
    
    </div>
    