<div id="dealers" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->
    
        <!-- CENTER -->
        <div class="center">
    
            <!-- HEADER -->
            <div class="header accent"
                 fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    
                <!-- APP TITLE -->
                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        business_center
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Dealers
                    </span>
                </div>
                <!-- / APP TITLE -->
    
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Search for a dealer">
                    </div>
                </div>
                <!-- / SEARCH -->
    
                <!-- ADD BUTTON -->
                <button mat-raised-button
                        [routerLink]="'/configurations/dealers/create'"
                        class="add-dealer-button fuse-white mt-24 mt-md-0">
                    <span>ADD NEW DEALER</span>
                </button>
                <!-- / ADD BUTTON -->
    
            </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->
            <div class="content-card">
    
                <mat-table class="dealers-table"
                           #table [dataSource]="dataSource"
                           matSort
                           [@animateStagger]="{value:'50'}"
                           fusePerfectScrollbar>
    
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let dealer">
                            <p class="text-truncate">{{dealer.id}}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Branch No Column -->
                    <ng-container matColumnDef="branchNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Branch No.</mat-header-cell>
                        <mat-cell *matCellDef="let dealer">
                            <p class="text-truncate">{{dealer.branchNo}}</p>
                        </mat-cell>
                    </ng-container>
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                        <mat-cell *matCellDef="let dealer">
                            <p class="text-truncate">{{dealer.name}}</p>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                        <mat-cell *matCellDef="let dealer">
                            <p class="text-truncate">{{dealer.email}}</p>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="taxNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tax No</mat-header-cell>
                        <mat-cell *matCellDef="let dealer">
                            <p class="text-truncate">{{dealer.taxNo}}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                        <mat-cell *matCellDef="let dealer">
                            <p class="text-truncate">{{dealer.phone}}</p>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="tel">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tel.</mat-header-cell>
                        <mat-cell *matCellDef="let dealer">
                            <p class="text-truncate">{{dealer.tel}}</p>
                        </mat-cell>
                    </ng-container>
    
    
                    
    
                    <!-- Active Column -->
                    <!-- <ng-container matColumnDef="active">
                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
                        <mat-cell *matCellDef="let dealer" fxHide fxShow.gt-xs>
                            <mat-icon *ngIf="dealer.isActived" class="active-icon green-600 s-16">check</mat-icon>
                            <mat-icon *ngIf="!dealer.isActived" class="active-icon red-500 s-16">close</mat-icon>
                        </mat-cell>
                    </ng-container> -->
    
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    
                    <mat-row *matRowDef="let dealer; columns: displayedColumns;"
                             class="dealer"
                             matRipple
                             [routerLink]="['/configurations/dealers/', dealer.id]">
                             <!-- [routerLink]="'/apps/e-commerce/dealers/'+dealer.id+'/'+dealer.handle"> -->
                             
                    </mat-row>
    
                </mat-table>
    
                <mat-paginator #paginator
                               [length]="dataSource.filteredData.length"
                               [pageIndex]="0"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
    
            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
    