<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="row" fxLayoutAlign="start center">
            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div>
            <div class="h1 mt-16">Create</div> -->
            <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/campaigns'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <!-- <div class="h2" *ngIf="pageType ==='edit'">
                    Create Packaging
                </div> -->
                <div class="h2">
                    New Campaign - {{campaignName}}
                </div>
                <div class="h3 light secondary-text">
                    <span>{{currentDate | date: 'yyyy-MM-dd'}}</span>
                </div>
                <!-- <div class="h2">Create Packaging</div>
                <div class="h4 mb-24 secondary-text">{{currentDate | date: 'yyyy-MM-dd'}}</div> -->
            </div>
        </div>

        <button mat-raised-button type="button" (click)="generateQrCode()">
            Create
        </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <!-- <div class="h1">
            Reactive Forms
        </div>

        <p class="pt-16 pb-32">
            Angular reactive forms facilitate a reactive style of programming that favors explicit management of the
            data flowing between a non-UI data model (typically retrieved from a server) and a UI-oriented form model
            that retains the states and values of the HTML controls on screen. Reactive forms offer the ease of using
            reactive patterns, testing, and validation.
        </p> -->

        <!-- CAMPAIGN TYPE = ENROLLEMENT AND MEMBER -->
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" *ngIf="campaignType.id === 3">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">

                <!-- <div class="h2">Create Packaging</div>
                <div class="h4 mb-24 secondary-text">{{currentDate | date: 'yyyy-MM-dd'}}</div> -->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Name</mat-label>
                        <input matInput #name formControlName="name" maxlength="300" required>
                        <mat-hint align="end">{{name.value.length}} / 300</mat-hint>
                        <mat-error>Name. is required!</mat-error>
                    </mat-form-field>

                </div>

                <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Url (Auto-Generate)</mat-label>
                        <input matInput formControlName="url" [readonly]="true">
                        <mat-icon matSuffix>url</mat-icon>
                    </mat-form-field>

                </div> -->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Quantity</mat-label>
                        <input matInput type="number" formControlName="quantity">
                        <mat-error>Quantity is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                        <!-- <mat-error>Quantity is required!</mat-error> -->
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Product</mat-label>
                        <mat-select formControlName="product">
                          <mat-option *ngFor="let product of products" [value]="product.id">
                            {{product.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error>
                            Product <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="dpStartDate" placeholder="Start Date" formControlName="startDate" readonly='true'>
                        <mat-datepicker-toggle matSuffix [for]="dpStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #dpStartDate></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="dpEndDate" placeholder="End Date" formControlName="endDate" readonly='true'>
                        <mat-datepicker-toggle matSuffix [for]="dpEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #dpEndDate></mat-datepicker>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Alert message for overdue of Campaign</mat-label>
                        <input matInput #alertMessage formControlName="alertMessage" maxlength="255" required>
                        <mat-hint align="end">{{alertMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for overdue of Campaign. is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Alert message for duplicate case</mat-label>
                        <input matInput #duplicateMessage formControlName="duplicateMessage" maxlength="255" required>
                        <mat-hint align="end">{{duplicateMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for duplicate case. is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Alert message for invalid case</mat-label>
                        <input matInput #qrCodeNotExistMessage formControlName="qrCodeNotExistMessage" maxlength="255" required>
                        <mat-hint align="end">{{qrCodeNotExistMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for invalid case!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Alert message for success case</mat-label>
                        <input matInput #winMessage formControlName="winMessage" maxlength="255" required>
                        <mat-hint align="end">{{winMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for success case. is required!</mat-error>
                    </mat-form-field>

                </div>

                <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Start No.</mat-label>
                        <input matInput type="number" formControlName="startNo" required>
                        <mat-error>Start No. is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>End No.</mat-label>
                        <input matInput type="number" formControlName="endNo" required>
                        <mat-error>End No. is required!</mat-error>
                    </mat-form-field>

                </div> -->

                <!-- <button mat-raised-button color="primary" type="button" (click)="generateQrCode()">
                    Preview
                </button> -->
                <button mat-raised-button color="accent" type="button" 
                    (click)="createCampaign()" 
                    [disabled]="form.invalid"
                    class="mt-12">
                    Create
                </button>
            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

            <div class="mat-card form-errors-model p-24 mat-elevation-z4" *ngIf="urlValue">
                <div class="h2 mb-24">Your QR Code</div>
                <!-- <pre><code>{{form.getRawValue() | json}}</code></pre> -->
                <qr-code [value]="urlValue" [size]="256"></qr-code>
            </div>

        </div>

        <!-- CAMPAIGN TYPE = COLLECTING -->
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" *ngIf="campaignType.id === 1">
            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex name="collectingForm" [formGroup]="collectingForm">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Name</mat-label>
                    <input matInput #name formControlName="name" maxlength="100" required>
                    <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
                    <mat-error>Campaign name is required!</mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Url</mat-label>
                    <input matInput formControlName="url" [readonly]="true">
                    <mat-icon matSuffix>url</mat-icon>
                    <mat-error>Url is required!</mat-error>
                </mat-form-field> -->

                <!-- <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" formControlName="quantity">
                    <mat-error>Quantity is required!</mat-error>
                </mat-form-field> -->

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="product">
                      <mat-option *ngFor="let product of products" [value]="product.id">
                        {{product.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                        Product <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="dpStartDate" formControlName="startDate" placeholder="Start Date" readonly='true'>
                        <mat-datepicker-toggle matSuffix [for]="dpStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #dpStartDate></mat-datepicker>
                        <mat-error>
                            Start date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="dpEndDate" formControlName="endDate" placeholder="End Date" readonly='true'>
                        <mat-datepicker-toggle matSuffix [for]="dpEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #dpEndDate></mat-datepicker>
                        <mat-error>
                            End date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Alert message for overdue of Campaign</mat-label>
                        <input matInput #alertMessage formControlName="alertMessage" maxlength="255" required>
                        <mat-hint align="end">{{alertMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for overdue of Campaign. is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Alert message for duplicate case</mat-label>
                        <input matInput #duplicateMessage formControlName="duplicateMessage" maxlength="255" required>
                        <mat-hint align="end">{{duplicateMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for duplicate case. is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Alert message for invalid case</mat-label>
                        <input matInput #qrCodeNotExistMessage formControlName="qrCodeNotExistMessage" maxlength="255" required>
                        <mat-hint align="end">{{qrCodeNotExistMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for invalid case. is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Alert message for success case</mat-label>
                        <input matInput #winMessage formControlName="winMessage" maxlength="255" required>
                        <mat-hint align="end">{{winMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for success case. is required!</mat-error>
                    </mat-form-field>

                </div>

                <mat-radio-group aria-label="Select an option" formControlName="collectingType" >
                    <mat-radio-button value="1" class="pr-6" (change)="collectingTypeRadioChange($event)">Linear Collecting</mat-radio-button>
                    <mat-radio-button value="2" class="pr-6" (change)="collectingTypeRadioChange($event)">Matrix Collecting</mat-radio-button>
                </mat-radio-group>
               
                <div *ngIf="collectingForm.controls['collectingType'].value === '1'" fxLayout="column" class="mb-24">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                            <mat-label>Peices</mat-label>
                            <input matInput  formControlName="columns" maxlength="255" required>
                            <mat-error>Alert message for success case. is required!</mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Row</mat-label>
                            <input matInput  formControlName="rows" maxlength="255" required>
                            <mat-hint align="end">{{winMessage.value.length}} / 255</mat-hint>
                        </mat-form-field> -->
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                        <table fxFlex="100">
                            <tr *ngFor="let row of rowQuantity; let i = index;" style="height: 100px;">
                                <th *ngFor="let column of columnQuantity; let j = index;">
                                    {{i+1}}:{{j+1}}
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="collectingForm.controls['collectingType'].value === '2'" class="mb-24" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                            <mat-label>Columns</mat-label>
                            <input matInput  formControlName="columns" maxlength="255" required>
                            <mat-error>Alert message for success case. is required!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Row</mat-label>
                            <input matInput  formControlName="rows" maxlength="255" required>
                            <mat-hint align="end">{{winMessage.value.length}} / 255</mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                        <table fxFlex="100">
                            <tr *ngFor="let row of rowQuantity; let i = index;" style="height: 100px;">
                                <th *ngFor="let column of columnQuantity; let j = index;">
                                    {{i+1}}:{{j+1}}
                                </th>
                            </tr>
                        </table>
                    </div>
                    
                </div>

                <!-- <div formArrayName="peices" fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100" >
                    <div *ngFor="let peice of peices.controls; let i = index" class="peice-card mb-16" fxFlex="19" >
                        <div class="p-16 light-green-700 peice-card-header" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="pr-16">
                                <div class="h1 font-weight-300"> Piece {{ i + 1}}</div>
                            </div>
                            <div *ngIf="this.peices.value.length > 1">
                                <button mat-icon-button aria-label="delete" matTooltip="Delete Piece" type="button"
                                (click)="deletePeice(i)" >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div [formGroupName]="i" class="p-16 center">
                            <mat-form-field 
                            appearance="outline" floatLabel="always" fxFlex="100">
                            <mat-label>Quantity</mat-label>
                                <input matInput formControlName="quantity">
                                <mat-error>
                                    Quantity is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>   -->
                

                <button type="button" mat-raised-button color="accent" class="mr-0"
                    (click)="addPeice()">
                    New Peice
                </button>

                <button mat-raised-button color="accent" type="button" 
                    (click)="createCampaign()" 
                    [disabled]="collectingForm.invalid"
                    class="mt-12">
                    Create campaign
                </button>
                
            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

            <div class="mat-card form-errors-model p-24 mat-elevation-z4" *ngIf="urlValue">
                <div class="h2 mb-24">Your QR Code</div>
                <qr-code [value]="urlValue" [size]="256"></qr-code>
            </div>
        </div>

         <!-- CAMPAIGN TYPE = Point & Reward -->
         <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" *ngIf="campaignType.id === 2">
            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex name="PointForm" [formGroup]="PointForm">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Name</mat-label>
                    <input matInput #name formControlName="name" maxlength="100" required>
                    <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
                    <mat-error>Campaign name is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" formControlName="quantity">
                    <mat-error>Quantity is required!</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Point</mat-label>
                    <input matInput type="number"  formControlName="point" >
                    <mat-icon matSuffix>Point</mat-icon>
                    <mat-error>Point is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="product">
                      <mat-option *ngFor="let product of products" [value]="product.id">
                        {{product.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                        Product <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="dpStartDate" formControlName="startDate" placeholder="Start Date" readonly='true'>
                        <mat-datepicker-toggle matSuffix [for]="dpStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #dpStartDate></mat-datepicker>
                        <mat-error>
                            Start date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="dpEndDate" formControlName="endDate" placeholder="End Date" readonly='true'>
                        <mat-datepicker-toggle matSuffix [for]="dpEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #dpEndDate></mat-datepicker>
                        <mat-error>
                            End date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Alert message for overdue of Campaign</mat-label>
                        <input matInput #alertMessage formControlName="alertMessage" maxlength="255" required>
                        <mat-hint align="end">{{alertMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for overdue of Campaign. is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Alert message for duplicate case</mat-label>
                        <input matInput #duplicateMessage formControlName="duplicateMessage" maxlength="255" required>
                        <mat-hint align="end">{{duplicateMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for duplicate case. is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                        <mat-label>Alert message for invalid case</mat-label>
                        <input matInput #qrCodeNotExistMessage formControlName="qrCodeNotExistMessage" maxlength="255" required>
                        <mat-hint align="end">{{qrCodeNotExistMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for invalid case. is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Alert message for success case</mat-label>
                        <input matInput #winMessage formControlName="winMessage" maxlength="255" required>
                        <mat-hint align="end">{{winMessage.value.length}} / 255</mat-hint>
                        <mat-error>Alert message for success case. is required!</mat-error>
                    </mat-form-field>

                </div>
                <button mat-raised-button color="accent" type="button" 
                    (click)="createCampaign()" 
                    [disabled]="PointForm.invalid"
                    class="mt-12">
                    Create campaign
                </button>
                
            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

            <div class="mat-card form-errors-model p-24 mat-elevation-z4" *ngIf="urlValue">
                <div class="h2 mb-24">Your QR Code</div>
                <qr-code [value]="urlValue" [size]="256"></qr-code>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->

</div>


