<div id="dashboards-campaigns" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutAlign="space-between start">
                <div fxLayout="row" fxLayoutAlign="space-between start">

                    <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                        [@animate]="{value:'*',params:{x:'50px'}}">Welcome back, {{firstName}}!
                    </span>
                    
                </div>

                <div fxLayout="row">

                    <div class="selected-campaign">{{selectedCampaign.name}}</div>

                    <button mat-icon-button class="campaign-selector" [matMenuTriggerFor]="campaignsMenu"
                            aria-label="Select campaign">
                        <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #campaignsMenu="matMenu">
                        <button mat-menu-item *ngFor="let campaign of campaigns" (click)="selectedCampaignChanged(campaign)">
                            <span>{{campaign.name}}</span>
                        </button>
                    </mat-menu>
                </div>

            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

                <!-- ADD BUTTON -->
                <button mat-raised-button
                    [routerLink]="'/apps/campaigns/'"
                    class="add-product-button fuse-white mt-24 mt-md-0">

                    <span>CREATE CAMPAIGN</span>

                </button>
                <!-- / ADD BUTTON -->

            </div>
            
        </div>
        <!-- <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                      [@animate]="{value:'*',params:{x:'50px'}}">Welcome back, {{firstName}}!
                </span>
                
            </div>

            <div fxLayout="row">

                <div class="selected-campaign">{{selectedCampaign.name}}</div>

                <button mat-icon-button class="campaign-selector" [matMenuTriggerFor]="campaignsMenu"
                        aria-label="Select campaign">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #campaignsMenu="matMenu">
                    <button mat-menu-item *ngFor="let campaign of campaigns" (click)="selectedCampaign = campaign">
                        <span>{{campaign.name}}</span>
                    </button>
                </mat-menu>
            </div>
        </div> -->
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event)">

                <mat-tab label="Summary">

                    <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                        [@animateStagger]="{value:'50'}">

                        <!-- WIDGET 1 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                                    <mat-form-field>
                                        <mat-select class="simplified font-size-16"
                                                    [(ngModel)]="widgets[0].currentRange"
                                                    aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets[0].ranges | keys"
                                                        [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{widgets[0].data.count[widgets[0].currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets[0].data.label}}
                                    </div>
                                </div>

                                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                        {{widgets[0].data.extra.label}}:
                                    </span>
                                    <span class="h4 ml-8">
                                        {{widgets[0].data.extra.count[widgets[0].currentRange]}}
                                    </span>
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    You can show some detailed information about this widget in here.
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 1 -->

                        <!-- WIDGET 2 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                                    <mat-form-field>
                                        <mat-select class="simplified font-size-16"
                                                    [(ngModel)]="widgets[0].currentRange"
                                                    aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets[0].ranges | keys"
                                                        [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{widgets[0].data.count[widgets[0].currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets[0].data.label}}
                                    </div>
                                </div>

                                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                        {{widgets[0].data.extra.label}}:
                                    </span>
                                    <span class="h4 ml-8">
                                        {{widgets[0].data.extra.count[widgets[0].currentRange]}}
                                    </span>
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    You can show some detailed information about this widget in here.
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 2 -->

                        <!-- WIDGET 3 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                                    <mat-form-field>
                                        <mat-select class="simplified font-size-16"
                                                    [(ngModel)]="widgets[0].currentRange"
                                                    aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets[0].ranges | keys"
                                                        [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{widgets[0].data.count[widgets[0].currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets[0].data.label}}
                                    </div>
                                </div>

                                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                        {{widgets[0].data.extra.label}}:
                                    </span>
                                    <span class="h4 ml-8">
                                        {{widgets[0].data.extra.count[widgets[0].currentRange]}}
                                    </span>
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    You can show some detailed information about this widget in here.
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 3 -->

                        <!-- WIDGET 4 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                                    <mat-form-field>
                                        <mat-select class="simplified font-size-16"
                                                    [(ngModel)]="widgets[0].currentRange"
                                                    aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets[0].ranges | keys"
                                                        [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{widgets[0].data.count[widgets[0].currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{widgets[0].data.label}}
                                    </div>
                                </div>

                                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                        {{widgets[0].data.extra.label}}:
                                    </span>
                                    <span class="h4 ml-8">
                                        {{widgets[0].data.extra.count[widgets[0].currentRange]}}
                                    </span>
                                </div>
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    You can show some detailed information about this widget in here.
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 4 -->

                        <!-- WIDGET 5 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                                     class="widget widget5">

                            <!-- Front -->
                            <div class="fuse-widget-front">

                                <div class="px-16 border-bottom" fxLayout="row wrap"
                                     fxLayoutAlign="space-between center">

                                    <div fxFlex class="py-16 h3">
                                            Visitors & Page views
                                    </div>

                                    <div fxFlex="0 1 auto" class="py-16" fxLayout="row">
                                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                            (click)="widget5SelectedDay = 'yesterday'"
                                            [ngClass]="{'accent': widget5SelectedDay === 'yesterday'}">
                                           Yesterday
                                       </div>
                                       <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                            (click)="widget5SelectedDay = 'today'"
                                            [ngClass]="{'accent': widget5SelectedDay === 'today'}">
                                           Today
                                       </div>
                                    </div>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="start start">
                                    <div class="h-420 my-16" fxLayout="row" fxFlex="100">
                                        <canvas baseChart
                                            [datasets]="widget5.datasets[widget5SelectedDay]"
                                            [labels]="widget5.labels"
                                            [colors]="widget5.colors"
                                            [options]="widget5.options"
                                            [chartType]="widget5.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                            <!-- / Front -->

                        </fuse-widget>
                        <!-- / WIDGET 5 -->

                        <!-- Enrollments widget-->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                            class="widget widget5">
                            
                            <!-- Front -->
                            <div class="fuse-widget-front">

                                <div class="px-16 border-bottom" fxLayout="row wrap"
                                    fxLayoutAlign="space-between center">
                                    <div fxFlex class="py-16 h3">Enrollments Tracking</div>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <agm-map 
                                        *fuseIfOnDom
                                        class="h-640 w-100-p"
                                        [minZoom]="10"
                                        [maxZoom]="15"
                                        [fullscreenControl]="false"
                                        [rotateControl]="false"
                                        [zoomControl]="true"
                                        [scaleControl]="false"
                                        [streetViewControl]="false"
                                        [scrollwheel]="false"
                                        [latitude]="13.6331264"
                                        [longitude]="100.49535999999999"
                                        [styles]="mapStyle">
                                    <!-- <agm-marker
                                        *ngFor="let marker of maps"
                                        [latitude]="marker.Latitude"
                                        [longitude]="marker.Longitude">
                
                                        <agm-info-window>
                                            <strong>{{marker.FirstName}} {{marker.LastName}}</strong>
                                        </agm-info-window>
                                    </agm-marker> -->
                                    <!-- <agm-circle
                                        [latitude]="13.6331264"
                                        [longitude]="100.49535999999999"
                                        [circleDraggable]="false"
                                        [radius]="5000"
                                        [fillColor]="'red'"
                                        [editable]="false">

                                    </agm-circle> -->
                                    </agm-map>   

                                </div>
                            </div>
                            <!-- / Front -->


                        </fuse-widget>
                        <!-- / Enrollments widget-->

                    </div>

                </mat-tab>

                <mat-tab label="Registerd Customer">

                </mat-tab>

                <mat-tab label="Report">

                </mat-tab>

                <mat-tab label="Transactions">
                    <div class="content-card">
                        <mat-table class="transactions-table"
                        #table [dataSource]="tranDataSource"
                        matSort
                        (matSortChange)="GetTransactions()"
                        [@animateStagger]="{value:'50'}"
                        fusePerfectScrollbar>
    
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.id}}</p>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="fullName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.firstName}} {{tran.lastName}}</p>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.email}}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.phone}}</p>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="token">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>QrCode</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.token}}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="point">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Point</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.point}}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.transactionType}}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Response Message</mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate">{{tran.responseMessage}}</p>
                        </mat-cell>
                    </ng-container>

    
                    <ng-container matColumnDef="createDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Redemption date </mat-header-cell>
                        <mat-cell *matCellDef="let tran">
                            <p class="text-truncate" >
                                {{tran.createdDate | date : 'dd-MM-yyyy'}} 
                                <br/>
                                {{tran.createdDate | date : 'HH:mm:ss'}} 
                            </p>
                        </mat-cell>
                    </ng-container>
    
                    
    
                    <mat-header-row *matHeaderRowDef="tranDisplayed; sticky:true"></mat-header-row>
    
                    <mat-row *matRowDef="let consumer; columns: tranDisplayed;"
                            class="consumer"
                            matRipple>
                    </mat-row>
    
                    </mat-table>
        
                    <mat-paginator #paginator
                                        showFirstLastButtons
                                        [length]="tranLength"
                                        [pageIndex]="tranPageIndex"
                                        [pageSize]="tranPageSize"
                                        [pageSizeOptions]="tranPageSizeOptions"
                                        (page)="tranPageEvent = $event"
                                        (page)="GetTransactions()"
                                    >
                    </mat-paginator>
                    </div>
                </mat-tab>

                <mat-tab label="Qr Code">
                        <div class="content-card">
                            <mat-table class="transactions-table"
                            #table [dataSource]="qrDisplayed"
                            matSort
                            (matSortChange)="Getqrcode()"
                            [@animateStagger]="{value:'50'}"
                            fusePerfectScrollbar>
        
                        <!-- ID Column -->
                        <ng-container matColumnDef="token">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Qr Code</mat-header-cell>
                            <mat-cell *matCellDef="let qr">
                                <p class="text-truncate">{{qr.token}}</p>
                            </mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="peice">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Peice</mat-header-cell>
                            <mat-cell *matCellDef="let qr">
                                <p class="text-truncate">{{qr.peice}}</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="point">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Point</mat-header-cell>
                            <mat-cell *matCellDef="let qr">
                                <p class="text-truncate">{{qr.point}}</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fullName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let qr">
                                    <p class="text-truncate">{{qr.firstName}} {{qr.lastName}}</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                            <mat-cell *matCellDef="let qr">
                                <p class="text-truncate">{{qr.email}}</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                            <mat-cell *matCellDef="let qr">
                                <p class="text-truncate">{{qr.phone}}</p>
                            </mat-cell>
                        </ng-container>
        
                        
        
                        <ng-container matColumnDef="createDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Redemption date </mat-header-cell>
                            <mat-cell *matCellDef="let qr">
                                <div *ngIf="qr.createdDate">
                                    <p class="text-truncate" >
                                        {{qr.createdDate | date : 'dd-MM-yyyy'}} 
                                        <br/>
                                        {{qr.createdDate | date : 'HH:mm:ss'}} 
                                    </p>
                                </div>
                            </mat-cell>
                        </ng-container>
        
                        
        
                        <mat-header-row *matHeaderRowDef="qrDisplayed; sticky:true"></mat-header-row>
        
                        <mat-row *matRowDef="let consumer; columns: qrDisplayed;"
                                class="consumer"
                                matRipple>
                        </mat-row>
        
                        </mat-table>
            
                        <mat-paginator #paginator
                                            showFirstLastButtons
                                            [length]="qrLength"
                                            [pageIndex]="qrPageIndex"
                                            [pageSize]="qrPageSize"
                                            [pageSizeOptions]="qrPageSizeOptions"
                                            (page)="qrPageEvent = $event"
                                            (page)="Getqrcode()"
                                        >
                        </mat-paginator>
                        </div>
                    </mat-tab>
            </mat-tab-group>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
