@mixin dashboards-campaigns-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    #dashboards-campaigns {

        > .center {

            > .content {
                @if ($is-dark) {
                    background: map-get($background, background);
                } @else {
                    background: map-get($background, app-bar);
                }
            }
        }
        .header {

            .search-wrapper {
                background: map-get($background, card);

                .search {

                    .mat-icon {
                        color: map-get($foreground, icon);
                    }

                    input {
                        background: map-get($background, card);
                        color: map-get($foreground, text);
                    }
                }
            }
        }
    }
    .my-drop-zone { 
        border: dotted 3px lightgray; 
        padding: 48px;
        height: 120px;
    }
    .nv-file-over { border: dotted 3px red; } 
    .another-file-over-class { border: dotted 3px green; }  
}