<div id="dashboards-campaigns" class="page-layout simple right-sidebar" fxLayout="row">
    <div class="center" fusePerfectScrollbar>
        <div class="header accent p-24 pb-0" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutAlign="space-between start">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                        [@animate]="{value:'*',params:{x:'50px'}}">Welcome back, {{firstName}}!
                    </span>
                </div>
                <div fxLayout="row">
                    <div class="selected-campaign">
                        <span class="h3-light">{{selectedCampaign.name}}</span>
                    </div>
                    <button mat-icon-button class="campaign-selector" [matMenuTriggerFor]="campaignsMenu"
                        aria-label="Select campaign">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #campaignsMenu="matMenu">
                        <button mat-menu-item *ngFor="let campaign of campaigns" (click)="selectedCampaignChanged(campaign)">
                            <span class="h3-light">{{campaign.name}}</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="content">
            <mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event)" #tabGroup>
                <!-- Summary -->
                <mat-tab label="Summary">
                    <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                        [@animateStagger]="{value:'50'}">
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100">
                            <div class="fuse-widget-front">
                                <div class="px-16 border-bottom" fxLayout="row wrap"
                                    fxLayoutAlign="space-between center">
                                    <div fxFlex class="py-16 h3">Province</div>
                                </div>
                                <div class="row wrap">
                                    <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                        <ngx-charts-pie-chart  [scheme]="colorScheme"
                                            [results]="provinceChart" [gradient]="gradient" [legend]="showLegend" >
                                        </ngx-charts-pie-chart>
                                    </div>
                                </div>
                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="50">
                            <div class="fuse-widget-front">
                                <div class="px-16 border-bottom" fxLayout="row wrap"
                                    fxLayoutAlign="space-between center">
                                    <div fxFlex class="py-16 h3">Transactions</div>
                                </div>
                                <div class="row wrap">
                                    <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme"
                                            [results]="transactionChart" [gradient]="gradient" [xAxis]="showXAxis"
                                            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                                            [yAxisLabel]="yAxisLabel">
                                        </ngx-charts-bar-vertical>
                                    </div>
                                </div>
                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="50">
                            <div class="fuse-widget-front">
                                <div class="px-16 border-bottom" fxLayout="row wrap"
                                    fxLayoutAlign="space-between center">
                                    <div fxFlex class="py-16 h3">QrCode</div>
                                </div>
                                <div class="row wrap">
                                    <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme"
                                            [results]="qrCodeChart" [gradient]="gradient" [xAxis]="showXAxis"
                                            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabelQr"
                                            [yAxisLabel]="yAxisLabelQr">
                                        </ngx-charts-bar-vertical>
                                    </div>
                                </div>
                            </div>
                        </fuse-widget>
                        
                    </div>
                </mat-tab>

                <!-- Detail -->
                <mat-tab label="Detail">
                    <div class="widget-group" fxLayout="row wrap" fxFlex="100" [@animateStagger]="{value:'50'}">
                        <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                            fxFlex="1 0 auto" name="form" [formGroup]="form" class="form">

                            <!-- <div class="h2">Create Packaging</div>
                            <div class="h4 mb-24 secondary-text">{{currentDate | date: 'yyyy-MM-dd'}}</div> -->

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Name</mat-label>
                                    <input matInput  formControlName="name" maxlength="300" >
                                </mat-form-field>

                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Waste (%)</mat-label>
                                    <input matInput type="number" formControlName="waste" readonly>
                                    <mat-error>Waste is required!</mat-error>
                                </mat-form-field>
            
                            </div>
                            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Url (Auto-Generate)</mat-label>
                                    <input matInput formControlName="url" [readonly]="true">
                                    <mat-icon matSuffix>url</mat-icon>
                                </mat-form-field>

                            </div> -->


                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description" ></textarea>
                                    <!-- <mat-error>Quantity is required!</mat-error> -->
                                </mat-form-field>

                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Product</mat-label>
                                    <mat-select formControlName="product" [disabled]="true" >
                                        <mat-option *ngFor="let product of products" [value]="product.id">
                                            {{product.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        Product <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Dealers</mat-label>
                                    <mat-select placeholder="Dealers" formControlName="dealers" multiple [disabled]="true">
                                        <mat-option *ngFor="let dealer of dealerList" [value]="dealer.id">
                                            {{dealer.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="dpStartDate" placeholder="Start Date" formControlName="startDate" readonly='true'>
                                    <mat-datepicker-toggle matSuffix [for]="dpStartDate"></mat-datepicker-toggle>
                                    <mat-datepicker #dpStartDate></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="dpEndDate" placeholder="End Date" formControlName="endDate" readonly='true'>
                                    <mat-datepicker-toggle matSuffix [for]="dpEndDate"></mat-datepicker-toggle>
                                    <mat-datepicker #dpEndDate></mat-datepicker>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                                    <mat-label>Alert message for overdue of Campaign</mat-label>
                                    <input matInput #alertMessage formControlName="alertMessage" maxlength="255" >
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <mat-label>Alert message for duplicate case</mat-label>
                                    <input matInput #duplicateMessage formControlName="duplicateMessage" maxlength="255" >
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-12">
                                    <mat-label>Alert message for invalid case</mat-label>
                                    <input matInput #qrCodeNotExistMessage formControlName="qrCodeNotExistMessage" maxlength="255" >
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <mat-label>Alert message for success case</mat-label>
                                    <input matInput #winMessage formControlName="winMessage" maxlength="255" >
                                </mat-form-field>

                            </div>

                            <div *ngIf="campaignTypeId == 1">
                                <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                                    <div fxFlex="40" class="pr-16">     
                                        <div class="example-image-card">
                                            <div class="example-image-card-header p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                                <div class="h1 font-weight-300" style="color: rgb(5, 5, 5);">Example Collecting Image</div>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="center center" class="p-16">
                                                <table *ngIf="collectingType == 1">
                                                    <tr *ngFor="let item of collectingData">
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img class="product-image" [src]="item.extension + ',' + item.file"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table *ngIf="collectingType == 2">
                                                    <tr>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img class="product-image" [src]="collectingData[0].extension + ',' + collectingData[0].file"/>
                                                                <div class="position">1:1</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img class="product-image" [src]="collectingData[1].extension + ',' + collectingData[1].file"/>
                                                                <div class="position">1:2</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img class="product-image" [src]="collectingData[2].extension + ',' + collectingData[2].file"/>
                                                                <div class="position">2:1</div>
                                                            </div>
                                                            
                                                        </td>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img class="product-image" [src]="collectingData[3].extension + ',' + collectingData[3].file"/>
                                                                <div class="position">2:2</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table *ngIf="collectingType == 3">
                                                    <tr>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img [src]="collectingData[0].extension + ',' + collectingData[0].file">
                                                                <div class="position">1:1</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img [src]="collectingData[1].extension + ',' + collectingData[1].file">
                                                                <div class="position">1:2</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img [src]="collectingData[2].extension + ',' + collectingData[2].file">
                                                                <div class="position">2:1</div>
                                                            </div>
                                                            
                                                        </td>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img [src]="collectingData[3].extension + ',' + collectingData[3].file">
                                                                <div class="position">2:2</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img [src]="collectingData[4].extension + ',' + collectingData[4].file">
                                                                <div class="position">3:1</div>
                                                            </div>
                                                            
                                                        </td>
                                                        <td>
                                                            <div class="collecting-image-cell">
                                                                <img [src]="collectingData[5].extension + ',' + collectingData[5].file">
                                                                <div class="position">3:2</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                            </div>


                            <button mat-raised-button color="accent" type="button" 
                                (click)="createCampaign()" 
                                [disabled]="form.invalid"
                                class="mt-12">
                                Update
                            </button>
                            
                        </form>
                       
                    </div>
                </mat-tab>

                <!-- Transactions -->
                <mat-tab label="Transactions">
                    <div class="widget-group" fxLayout="row wrap" fxFlex="100" [@animateStagger]="{value:'50'}">
                        <fuse-widget class="widget" fxLayout="row" fxFlex="100"
                            [@animate]="{value:'*',params:{y:'100%'}}">
                            <div class="fuse-widget-front">
                                <div class="p-24 mb-8 border-bottom" fxLayout="row wrap"
                                    fxLayoutAlign="space-between center">
                                    <div fxFlex class="h3">Transaction</div>
                                    <div fxFlex="0 1 auto" fxLayout="row">
                                        <mat-icon>search</mat-icon>
                                        <input matInput #filter placeholder="Search for a transaction"
                                            [formControl]="searchInput" class="px-16">
                                        <div class="text-boxed accent m-0">
                                            {{length}} transaction(s)
                                        </div>
                                    </div>
                                </div>
                                <mat-table class="transactions-table" #table [dataSource]="dataSourceTransaction" matSort
                                    (matSortChange)="getTransactions()" 
                                    [@animateStagger]="{value:'50'}"
                                    fusePerfectScrollbar>

                                    <ng-container matColumnDef="id" class="table-row">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.id}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="fullName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.firstName}} {{transaction.lastName}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.email}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="phone">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.phone}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="token">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>QrCode</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.token}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="code">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.code}}</p>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="point" disabled>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Point</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.point}}</p>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.transactionType}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="message">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Response Message
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">{{transaction.responseMessage}}</p>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="createDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Redemption date
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let transaction">
                                            <p class="text-truncate">
                                                {{transaction.createdDate | date : 'dd-MM-yyyy'}}
                                                <br />
                                                {{transaction.createdDate | date : 'HH:mm:ss'}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="transactionDisplayedColumns; sticky:true"></mat-header-row>

                                    <mat-row *matRowDef="let consumer; columns: transactionDisplayedColumns;" class="consumer"
                                        matRipple>
                                    </mat-row>
                                </mat-table>
                                <mat-toolbar>
                                    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                                        style="background-color: white;">
                                        <div fxLayout="row" fxLayoutAlign="start center">
                                            
                                        </div>
                                        <mat-paginator #paginator showFirstLastButtons [length]="length"
                                            [pageIndex]="pageIndex" [pageSize]="pageSize"
                                            [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
                                            (page)="getTransactions()">
                                        </mat-paginator>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </fuse-widget>
                    </div>
                </mat-tab>

                <!-- Code -->
                <mat-tab label="Code">
                    <div class="widget-group" fxLayout="row wrap" fxFlex="100" [@animateStagger]="{value:'50'}">
                        <fuse-widget class="widget" fxLayout="row" fxFlex="100"
                            [@animate]="{value:'*',params:{y:'100%'}}">
                            <div class="fuse-widget-front">
                                <div class="p-24 mb-8 border-bottom" fxLayout="row wrap"
                                    fxLayoutAlign="space-between center">
                                    <div fxFlex class="h3">Code</div>
                                    <div fxFlex="0 1 auto" fxLayout="row">
                                        <button mat-icon-button aria-label="import file icon button" matTooltip="Download"
                                            matTooltipPosition="above" (click)="downloadConsumer()">
                                            <mat-icon>cloud_download</mat-icon>
                                        </button>
                                        <mat-icon>search</mat-icon>
                                        <input matInput #filter placeholder="Search for a code"
                                            [formControl]="searchInput" class="px-16">
                                        <div class="text-boxed accent m-0">
                                            {{length}} code(s)
                                        </div>
                                    </div>
                                </div>
                                <mat-table class="qrCode-table" #table [dataSource]="dataSource" matSort
                                    (matSortChange)="getQrCodes()" 
                                    [@animateStagger]="{value:'50'}"
                                    fusePerfectScrollbar>
                                    <ng-container matColumnDef="token">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Qr Code</mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <p class="text-truncate">{{qrCode.token}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="peice">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Peice</mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <p class="text-truncate">{{qrCode.peice}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="code">
                                        <mat-header-cell showCoulmn *matHeaderCellDef mat-sort-header>Code
                                        </mat-header-cell>
                                        <mat-cell showCoulmn *matCellDef="let qrCode">
                                            <p class="text-truncate">{{qrCode.code}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="point">
                                        <mat-header-cell showCoulmn *matHeaderCellDef mat-sort-header>Point
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <p class="text-truncate">{{qrCode.point}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="fullName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <p class="text-truncate">{{qrCode.firstName}} {{qrCode.lastName}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <p class="text-truncate">{{qrCode.email}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="phone">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <p class="text-truncate">{{qrCode.phone}}</p>
                                        </mat-cell>
                                    </ng-container>



                                    <ng-container matColumnDef="createDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Redemption date
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <div *ngIf="qrCode.scanDate">
                                                <p class="text-truncate">
                                                    {{qrCode.scanDate | date : 'dd-MM-yyyy'}}
                                                    <br />
                                                    {{qrCode.scanDate | date : 'HH:mm:ss'}}
                                                </p>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>QrCode </mat-header-cell>
                                        <mat-cell *matCellDef="let qrCode">
                                            <button (click)="generateQrCode(qrCode.fullUrl)" mat-raised-button
                                                color="accent">View</button>
                                        </mat-cell>
                                    </ng-container>



                                    <mat-header-row *matHeaderRowDef="qrCodeDisplayedColumns; sticky:true"></mat-header-row>

                                    <mat-row *matRowDef="let qrCode; columns: qrCodeDisplayedColumns;" matRipple>
                                    </mat-row>
                                </mat-table>
                                <mat-toolbar>
                                    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                                        style="background-color: white;">
                                        <div fxLayout="row" fxLayoutAlign="start center"></div>
                                        <mat-paginator #paginator showFirstLastButtons [length]="length"
                                            [pageIndex]="pageIndex" [pageSize]="pageSize"
                                            [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
                                            (page)="getQrCodes()">
                                        </mat-paginator>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </fuse-widget>
                    </div>
                </mat-tab>

                <!-- Enrollment -->
                <mat-tab label="Enrollment" *ngIf="selectedCampaign.campaignTypeId === 3">
                    <div class="widget-group" fxLayout="row wrap" fxFlex="100" [@animateStagger]="{value:'50'}">
                        <fuse-widget class="widget" fxLayout="row" fxFlex="100"
                            [@animate]="{value:'*',params:{y:'100%'}}">
                            <div class="fuse-widget-front">
                                <div class="p-24 mb-8 border-bottom" fxLayout="row wrap"
                                    fxLayoutAlign="space-between center">
                                    <div fxFlex class="h3">Code</div>
                                    <div fxFlex="0 1 auto" fxLayout="row">
                                        <button mat-icon-button aria-label="import file icon button" matTooltip="Upload"
                                            matTooltipPosition="above" (click)="uploadEnrollmentsDialog()">
                                            <mat-icon>cloud_upload</mat-icon>
                                        </button>
                                        <mat-icon>search</mat-icon>
                                        <input matInput #filter placeholder="Search for a enrollment"
                                            [formControl]="searchInput" class="px-16">
                                        <div class="text-boxed accent m-0">
                                            {{length}} enrollment(s)
                                        </div>
                                    </div>
                                </div>
                                <mat-table class="enrollments-table" #table [dataSource]="dataSourceEnrollment" matSort
                                    (matSortChange)="getEnrollments()"
                                    [@animateStagger]="{value:'50'}"
                                    fusePerfectScrollbar>

                                    <ng-container matColumnDef="checkbox">
                                        <mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox #allCheckBox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                            </mat-checkbox>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="firstName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                                        <mat-cell *matCellDef="let enrollment">
    
                                            <p class="text-truncate">{{enrollment.firstName}}</p>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="lastName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Last Name
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let enrollment" fxHide fxShow.gt-sm>
                                            <p class="text-truncate">{{enrollment.lastName}}</p>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="phone">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                                        <mat-cell *matCellDef="let enrollment">
                                            <p class="text-truncate">
                                                {{enrollment.tel}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Email
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let enrollment" fxHide fxShow.gt-md>
                                            <p class="total-price text-truncate">
                                                {{enrollment.email}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="code">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Code
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let enrollment" fxHide fxShow.gt-md>
                                            <p class="total-price text-truncate">
                                                {{enrollment.Code}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="isQr">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>QR Code
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let enrollment" fxHide fxShow.gt-md>
                                            <mat-icon *ngIf="enrollment.IsQr" class="active-icon green-600 s-16">check
                                            </mat-icon>
                                            <mat-icon *ngIf="!enrollment.IsQr" class="active-icon red-500 s-16">close
                                            </mat-icon>
                                        </mat-cell>
                                    </ng-container>
    
                                    <mat-header-row *matHeaderRowDef="enrollmentDisplayedColumns; sticky:true"></mat-header-row>
    
                                    <mat-row *matRowDef="let enrollment; columns: enrollmentDisplayedColumns;" class="enrollment"
                                        (click)="selection.toggle(enrollment)" matRipple>
                                    </mat-row>
                                </mat-table>
                                <mat-toolbar>
                                    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" style="background-color: white;">
                                        <div fxLayout="row" fxLayoutAlign="start center">
                                            <div fxLayout="column" fxFlex="1 0 auto">
                                                <section class="example-section" fxLayout="row">
                                                    <mat-checkbox class="mr-12" [(ngModel)]="smsChecked">
                                                        Send SMS
                                                    </mat-checkbox>
                                                    <mat-checkbox class="mr-12" [(ngModel)]="emailChecked">
                                                        Send Email
                                                    </mat-checkbox>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="mt-12" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <button mat-raised-button color="primary"
                                                *ngIf="selection.selected.length > 0 && (smsChecked === true || emailChecked === true)"
                                                class="mr-12" (click)="sendSelected()" title="SEND SELECTED">
                                                SEND SELECTED
                                            </button>
                                            <button mat-raised-button color="primary"
                                                *ngIf="smsChecked === true || emailChecked === true" (click)="sendAll()"
                                                title="SEND ALL">
                                                SEND ALL
                                            </button>
                                        </div>
                                        <span class="example-spacer"></span>
                                        <mat-paginator #paginator showFirstLastButtons [length]="length"
                                            [pageIndex]="pageIndex" [pageSize]="pageSize"
                                            [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
                                            (page)="getEnrollments()">
                                        </mat-paginator>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </fuse-widget>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>