@import "src/@fuse/scss/fuse";
#dashboards-campaigns {

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    > .center {

        > .header {

            
            height: 160px;
            min-height: 160px;
            max-height: 160px;

            .selected-campaign {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .campaign-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
            .search-wrapper {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;

                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }

            @include media-breakpoint('lt-md') {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }

    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }
    .transactions-table {
        .mat-column-id {
            flex: 0 1 100px;
        }

        .mat-column-fullName {
            flex: 0 1 230px;
        }
        .mat-column-email {
            flex: 0 1 250px;
        }
        .mat-column-phone {
            flex: 0 1 150px;
        }
        .mat-column-token {
            flex: 0 1 300px;
        }
        .mat-column-point {
            flex: 0 1 100px;
        }
        .mat-column-status {
            flex: 0 1 150px;
        }
        .mat-column-message {
            flex: 0 1 450px;
        }
        .mat-column-createDate {
            flex: 0 1 200px;
        }

    }
    .qrCode-table {

        .mat-column-token {
            flex: 0 1 400px;
        }
        .mat-column-peice {
            flex: 0 1 100px;
        }
        .mat-column-point {
            flex: 0 1 100px;
        }

        .mat-column-fullName {
            flex: 0 1 230px;
        }
        .mat-column-email {
            flex: 0 1 250px;
        }
        .mat-column-phone {
            flex: 0 1 150px;
        }
    
        .mat-column-createDate {
            flex: 0 1 200px;
        }

    }
}