<div id="collecting" fxLayout="column">

        <div id="collecting-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isRewardShow">
            <div id="logo-wrapper">
                <div class="logo">
                    <img src="assets/images/logos/lotte-toppo-logo.svg">
                </div>
            </div>

            <div id="collecting-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    
                
                <div class="title">REDEEM</div>
    
                <form name="collectingForm" [formGroup]="collectingForm" novalidate>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Mobile No.</mat-label>
                        <input matInput formControlName="phone">
                        <mat-icon matSuffix class="secondary-text">phone_iphone</mat-icon>
                        <mat-error>
                            Mobile No. is required
                        </mat-error>
                    </mat-form-field>
    
                    <button type="button" mat-raised-button color="accent" class="submit-button" aria-label="Redeem" 
                    [disabled]="collectingForm.invalid"
                    (click)="collecting()">
                        REDEEM!
                    </button>
    
                </form>

            </div>
            
        </div>
        <!-- <div *ngIf="isRewardShow" fxLayoutAlign="center center" >
                <img src="assets/images/logos/one.png" *ngIf="isShowReward01" >
                <img src="assets/images/logos/one.png" *ngIf="!isShowReward01" >
                <img src="assets/images/logos/two.png" *ngIf="isShowReward02" >
                <img src="assets/images/logos/two.png" *ngIf="!isShowReward02" >
                <img src="assets/images/logos/three.png" *ngIf="isShowReward03" >
                <img src="assets/images/logos/three.png" *ngIf="!isShowReward03" >
                <img src="assets/images/logos/four.png" *ngIf="isShowReward04" >
                <img src="assets/images/logos/four.png" *ngIf="!isShowReward04" >
                <img src="assets/images/logos/five.png"*ngIf="isShowReward05" >
                <img src="assets/images/logos/five.png" *ngIf="!isShowReward05" >       
        </div> -->
        <div id="collecting-reward-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="isRewardShow">
            <div id="collecting-reward" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
                <img src="assets/images/logos/lotte-toppo-logo-t.png" *ngIf="isShowReward01">
                <img src="assets/images/logos/lotte-toppo-logo-o1.png" *ngIf="isShowReward02">
                <img src="assets/images/logos/lotte-toppo-logo-p1.png" *ngIf="isShowReward03">
                <img src="assets/images/logos/lotte-toppo-logo-p2.png" *ngIf="isShowReward04">
                <img src="assets/images/logos/lotte-toppo-logo-o2.png"*ngIf="isShowReward05" >
                <!-- <img src="assets/images/logos/one.png" *ngIf="isShowReward01" >

                <img src="assets/images/logos/two.png" *ngIf="isShowReward02" >
                
                <img src="assets/images/logos/three.png" *ngIf="isShowReward03" >
               
                <img src="assets/images/logos/four.png" *ngIf="isShowReward04" >
               
                <img src="assets/images/logos/five.png"*ngIf="isShowReward05" > -->
              
                
            </div>
            
        </div>
    
    </div>
    