<div id="contact-us" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    business
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Contact us 
                </span>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                class="save-brand-button"
                *ngIf="Type ==='new'" (click)="createContactUs()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-brand-button"
                    *ngIf="Type ==='edit'" (click)="updateContactUs()">
                <span>SAVE</span>
            </button>

        </div>
        <!-- / HEADER -->

     

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="promotionForm" [formGroup]="contactUsForm" class="promotion w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tel</mat-label>
                                    <input matInput formControlName="tel">
            
                                </mat-form-field>
            
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Facebook</mat-label>
                                    <input matInput formControlName="facebook">
                                </mat-form-field>
            
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Line</mat-label>
                                    <input matInput formControlName="line">
                                </mat-form-field>
            
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Web</mat-label>
                                    <input matInput formControlName="web">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Shop online</mat-label>
                                    <input matInput formControlName="shopOnline">
                                </mat-form-field>
                                
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
