<div id="promotions" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->
    
        <!-- CENTER -->
        <div class="center">
    
            <!-- HEADER -->
            <div class="header accent"
                 fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    
                <!-- APP TITLE -->
                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        shopping_cart
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Promotions
                    </span>
                </div>
                <!-- / APP TITLE -->
    
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Search for a promotion">
                    </div>
                </div>
                <!-- / SEARCH -->
    
                <!-- ADD BUTTON -->
                <button mat-raised-button
                        [routerLink]="'/configurations/promotions/create'"
                        class="add-promotion-button fuse-white mt-24 mt-md-0">
                    <span>ADD NEW PROMOTION</span>
                </button>
                <!-- / ADD BUTTON -->
    
            </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->
            <div class="content-card" >
    
                <mat-table class="promotions-table"
                           #table [dataSource]="dataSource"
                           matSort
                           [@animateStagger]="{value:'50'}"
                           fusePerfectScrollbar>
    
                    <!-- ID Column -->
                    <!-- <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let promotion">
                            <p class="text-truncate">{{promotion.id}}</p>
                        </mat-cell>
                    </ng-container> -->
    
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                        <mat-cell *matCellDef="let promotion">
                            <p class="text-truncate">{{promotion.name}}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                        <mat-cell *matCellDef="let promotion">
                            <p class="text-truncate">{{promotion.description}}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Active Column -->
                    <ng-container matColumnDef="isActived">
                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
                        <mat-cell *matCellDef="let promotion" fxHide fxShow.gt-xs>
                            <mat-icon *ngIf="promotion.isActived" class="active-icon green-600 s-16">check</mat-icon>
                            <mat-icon *ngIf="!promotion.isActived" class="active-icon red-500 s-16">close</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <!-- created By Name Column -->
                    <ng-container matColumnDef="created">
                        <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Created</mat-header-cell>
                        <mat-cell *matCellDef="let promotion" fxHide fxShow.gt-md>
                            <p class="text-truncate">
                                {{promotion.createdByName}}
                            <br/>
                                {{promotion.createdDate}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- created Date Column -->
                    <ng-container matColumnDef="createdDate">
                            <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Created Date</mat-header-cell>
                            <mat-cell *matCellDef="let promotion" fxHide fxShow.gt-md>
                                <p class="text-truncate">
                                    {{promotion.createdDate}}
                                </p>
                            </mat-cell>
                        </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    
                    <mat-row *matRowDef="let promotion; columns: displayedColumns;"
                             class="promotion"
                             matRipple
                             [routerLink]="['/configurations/promotions/', promotion.id]">
                    </mat-row>
    
                </mat-table>
    
                <mat-paginator #paginator
                               [length]="dataSource.filteredData.length"
                               [pageIndex]="0"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
    
            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
    