<div id="consumers" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->
    
        <!-- CENTER -->
        <div class="center">
    
            <!-- HEADER -->
            <div class="header accent"
                 fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    
                <!-- APP TITLE -->
                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        people
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Consumers
                    </span>
                </div>
                <!-- / APP TITLE -->
    
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Search for a consumer" [formControl]="searchInput">
                    </div>
                </div>
                <!-- / SEARCH -->
    
                <!-- ADD BUTTON -->
                <!-- <button mat-raised-button
                        class="add-consumer-button fuse-white mt-24 mt-md-0"
                        (click)="uploadDialog()">
                    <span>ADD NEW CONSUMER</span>
                </button> -->
                <!-- / ADD BUTTON -->
    
            </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->
            <div class="content-card">
                    <mat-table class="consumers-table"
                    #table [dataSource]="dataSource"
                    matSort
                    (matSortChange)="Mapdata()"
                    [@animateStagger]="{value:'50'}"
                    fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let consumer">
                        <p class="text-truncate">{{consumer.id}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let consumer">
                        <p class="text-truncate">{{consumer.firstName}} {{consumer.lastName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
                    <mat-cell *matCellDef="let consumer">
                        <p class="text-truncate" *ngIf="consumer.gender === 'M'">Male</p>
                        <p class="text-truncate" *ngIf="consumer.gender === 'F'">Female</p>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="birthDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth                    </mat-header-cell>
                    <mat-cell *matCellDef="let consumer">
                        <p class="text-truncate" >{{consumer.birthDate | date : 'dd-MM-yyyy'}} </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let consumer">
                        <p class="text-truncate" >{{consumer.phone}} </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let consumer">
                        <p class="text-truncate" >{{consumer.email}} </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let consumer; columns: displayedColumns;"
                        class="consumer"
                        matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                                showFirstLastButtons
                                [length]="length"
                                [pageIndex]="pageIndex"
                                [pageSize]="pageSize"
                                [pageSizeOptions]="pageSizeOptions"
                                (page)="pageEvent = $event"
                                (page)="Mapdata()"
                            >
            </mat-paginator>
            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
    