<div id="collecting-register" fxLayout="column">

        <div id="collecting-register-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isRewardShow">
            <div id="logo-wrapper">
                <div class="logo">
                    <img src="assets/images/logos/karmart.svg">
                </div>
            </div>

            <div id="collecting-register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    
                
                <div class="title">REGISTER</div>
    
                <form name="collectingRegisterForm" [formGroup]="collectingRegisterForm" novalidate>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Mobile No.</mat-label>
                        <input matInput formControlName="phone" readonly>
                        <mat-icon matSuffix class="secondary-text">phone_iphone</mat-icon>
                        <mat-error>
                            Mobile No. is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-error>
                            First Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-error>
                            Last Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>
                            Email is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                        <mat-label>Birth date</mat-label>
                        <input matInput [matDatepicker]="dpEndDate" formControlName="birthDate" placeholder="Birth date" readonly>
                        <mat-datepicker-toggle matSuffix [for]="dpEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #dpEndDate></mat-datepicker>
                        <mat-error>
                            Birth date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address1">
                        <mat-error>
                            Address is required
                        </mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address2">
                        <mat-icon matSuffix class="secondary-text">phone_iphone</mat-icon>
                    </mat-form-field> -->

                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Province</mat-label>
                        <input matInput formControlName="province">
                        <mat-icon matSuffix class="secondary-text">phone_iphone</mat-icon>
                        <mat-error>
                            Province is required
                        </mat-error>
                    </mat-form-field> -->

                    <mat-form-field appearance="outline">
                        <mat-label>Province</mat-label>
                        <mat-select formControlName="provinceCode" (selectionChange)="getAmphurs($event)">
                          <mat-option *ngFor="let province of provinces" [value]="province.code">{{province.nameTh}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Province is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Amphur</mat-label>
                        <mat-select formControlName="amphurCode" (selectionChange)="getTumbols($event)">
                          <mat-option *ngFor="let amphur of amphurs" [value]="amphur.code">{{amphur.nameTh}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Amphur is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Tumbol</mat-label>
                        <mat-select formControlName="tumbolCode" (selectionChange)="getZipcode($event)">
                          <mat-option *ngFor="let tumbol of tumbols" [value]="tumbol.code">{{tumbol.nameTh}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Tumbol is required
                        </mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Tumbol</mat-label>
                        <input matInput formControlName="tumbol">
                        <mat-icon matSuffix class="secondary-text">phone_iphone</mat-icon>
                        <mat-error>
                            Tumbol is required
                        </mat-error>
                    </mat-form-field> -->

                    <mat-form-field appearance="outline">
                        <mat-label>Zip Code</mat-label>
                        <input matInput formControlName="zipCode">
                        <mat-error>
                            Zip Code is required
                        </mat-error>
                    </mat-form-field>

                    <b>Favourite</b>
                    <div *ngFor="let productType of productTypes; let i=index" class="col-md-2">
                        <label>
                            <input type="checkbox" [value]="productType.id" (change)="onCheckChange($event)">
                            {{productType.name}}
                        </label>
                    </div>
    
                    <button type="button" mat-raised-button color="accent" class="submit-button" aria-label="Redeem" 
                    [disabled]="collectingRegisterForm.invalid"
                    (click)="register()">
                        CONFIRM
                    </button>
    
                </form>

            </div>
            
        </div>
        <div id="collecting-reward-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="isRewardShow">
            <div id="collecting-reward" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

                <div *ngIf="isWinner" style="color: green;">
                    <h2>{{msgWinner}}</h2>
                </div>
                <div *ngIf="!isWinner" style="color: orange;">
                    <h2>{{message}}</h2>
                </div>
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection" >
                    <mat-chip *ngFor="let piece of pieces" selected color="warn" >
                      <span>{{piece}}</span>
                    </mat-chip>
                </mat-chip-list>
            </div>
            
        </div>
    </div>
    