<div id="cards" class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Campaigns</span>
            </div>
            <div class="h2 mt-16">Campaigns</div>
        </div>

        <!-- <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Campaigns</span>
            </div>
            <div fxLayout="row">
                <mat-icon class="mr-12">home</mat-icon>
                <div class="h2">Campaigns</div>
            </div>
           
        </div> -->

        <!-- <div>
            <mat-slide-toggle color="primary" (change)="toggleView()">
                View Source
            </mat-slide-toggle>
        </div> -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div class="cards">
            <!-- CARD 1 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <img src="assets/images/cards/card1.jpg">

                        <div class="p-16">
                            <div class="h1">Packaging</div>
                            <div class="h4 secondary-text">What is the big reasons for marketing your business</div>
                        </div>

                        <div class="p-16 pt-0 line-height-1.75">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quod expedita rem quasi corrupti natus, 
                            minima omnis exercitationem ex iusto. Consectetur odit laborum repellendus rerum provident exercitationem autem, minima reprehenderit!.
                        </div>

                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent" (click)="create()">CREATE</button>
                            <button mat-button color="accent">MORE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

            </div>
            <!-- / CARD 1 -->
            
        </div>
    </div>
    <!-- / CONTENT -->
    
</div>