<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs> 
                <span class="browser-span">Supported browsers : </span>
                <fa-icon class="browser-icon" [icon]="['fab', 'internet-explorer']"></fa-icon>
                <span class="browser-span">Internet Explorer 11+</span>
                <fa-icon class="browser-icon" [icon]="['fab', 'chrome']"></fa-icon>
                <span class="browser-span">Google Chrome 51+</span>
                <fa-icon class="browser-icon" [icon]="['fab', 'firefox-browser']"></fa-icon>
                <span class="browser-span">Firefox 48+</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
                <span class="browser-span">KARMART-REDEMPTION 1.0.0 POC | © {{year}} CSP</span>
            </div>

    </div>

</mat-toolbar>
